---
import Button from '../../components/Button.astro';
import Section from '../../components/Section.astro';
import EmailIcon from '../../icons/EmailIcon.astro';
import GithubIcon from '../../icons/GithubIcon.astro';
import LinkedinIcon from '../../icons/LinkedinIcon.astro';
import Layout from '../../layouts/Layout.astro';
import Skills from '../../components/Skills.astro';

export async function getStaticPaths() {
  const data = await fetch('https://6602f0839d7276a75554a537.mockapi.io/api/v1/profesionals').then(response => response.json());

  return data.map(({ name, avatar, age, dni, tel, certificate, price, email, job, id }) => {
    return {
      params: { id: id },
      props: { name, avatar, age, dni, tel, certificate, price, email, job, id},
    };
  });
}

const { name, avatar, age, dni, tel, certificate, price, email, job, id } = Astro.props;
---

<Layout title=`Talent ${name}` className="grid grid-cols-[17.5rem_auto] gap-4">
  <Section transition:name=`box ${id} section` class="text-center">
    <header class="overflow-hidden rounded-xl m-1 max-w-64">
      <img src={avatar} alt={id} class="w-full fill-transparent" transition:name=`box ${id} img`>
    </header>
    <h2 class="text-2xl font-bold text-center">{name}</h2>
    <div class="w-6 h-1 rounded-full bg-secondary mx-auto mb-2"></div>
    <p class="mb-2 text-neutral-400 text-lg text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <div class="flex justify-center gap-3 mb-0">
      <Button>
        <EmailIcon className="size-6" />
      </Button>
      <Button>
        <GithubIcon className="size-6" />
      </Button>
      <Button>
        <LinkedinIcon className="size-6" />
      </Button>
    </div>
  </Section>
  <Section>
    <h3 class="w-max mx-auto text-4xl text-transparent font-bold bg-gradient-to-l from-primary to-secondary [background-clip:text]">About Me</h3>
    <h2 class="text-2xl text-secondary font-semibold ml-5">{job}</h2>
    <p class="mb-2 text-neutral-600/95 text-lg ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere nobis doloremque quisquam rem saepe repellendus voluptatem aspernatur, eius dolores. Soluta quae voluptatibus sunt vel odit, labore voluptatem aliquid omnis repellendus? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab repellat a nam magni voluptate?</p> 
    <div class="flex justify-around">
      <div class="w-80">
        <p class="text-tertiary/90 font-medium"><b class="text-secondary/75">Age:</b> {age}</p>
        <p class="text-tertiary/90 font-medium"><b class="text-secondary/75">DNI:</b> {dni}</p>
        <p class="text-tertiary/90 font-medium"><b class="text-secondary/75">Phone Number:</b> {tel}</p>
        <p class="font-bold text-secondary/75">Certificate:</p>
        <img src={certificate} alt={name} class="w-full rounded-xl m-2">
      </div>
      <div class="w-80">
        <p class="text-tertiary/90 font-medium"><b class="text-primary/75">Price:</b> ${price}</p>
        <p class="text-tertiary/90 font-medium"><b class="text-primary/75">Email:</b> {email}</p>
        <h3 class="text-primary text-xl font-bold text-center mt-4">Skills</h3>
        <ul>
          <Skills />
          <Skills />
          <Skills />
          <Skills />
          <Skills />
        </ul>
      </div>
    </div>
  </Section>
</Layout>
